/.venv

00_Introdução.ipynb
Apostila_Parte_V_2020_1_Compress.pdf
CAP_Trabalho_I_2026_1.docx
leitor_modelica_fmu.py
model2.mo
SistemaTermico.mo
solução_vazão_de_saída.mw
TanqueAquecimentoTubulacao.fmu
